
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
html,
body {
  height: 100%;
}

/* body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
} */
body{
    background-image: url('../images/4\ p.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: transparent;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: transparent;
}
#floatingInput{
    background-color: white;
    height: 35px;
    width: 100%;
}
h1{
    color: blue;
    text-align: center;
    text-anchor: middle;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background-color: whitesmoke    ;
    width: 35%;
    padding: 10px;
    height: 500px;
    border-radius: 4px;
}
button{
    height: 40px;
}